openapi: 3.1.0
info:
  title: Pushbullet HTTP Channels Ephemerals API
  version: v2
  description: 'Pushbullet''s HTTP API lets developers send and manage pushes, devices,

    chats, channels, subscriptions, text messages, ephemerals, and file

    uploads across the Pushbullet ecosystem. Authentication uses an access

    token from account settings supplied via the `Access-Token` header;

    OAuth 2.0 is available for third-party applications.

    '
  contact:
    name: Pushbullet
    url: https://www.pushbullet.com
servers:
- url: https://api.pushbullet.com/v2
  description: Pushbullet HTTP API
security:
- accessToken: []
tags:
- name: Ephemerals
paths:
  /ephemerals:
    post:
      tags:
      - Ephemerals
      summary: Send an ephemeral
      operationId: sendEphemeral
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              - push
              properties:
                type:
                  type: string
                  enum:
                  - push
                push:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Ephemeral sent.
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: Pushbullet account access token from https://www.pushbullet.com/#settings/account
    oauth2:
      type: oauth2
      description: OAuth 2.0 for third-party applications.
      flows:
        authorizationCode:
          authorizationUrl: https://www.pushbullet.com/authorize
          tokenUrl: https://api.pushbullet.com/oauth2/token
          scopes:
            everything: Full access
externalDocs:
  description: Pushbullet API documentation
  url: https://docs.pushbullet.com
