openapi: 3.1.0
info:
  title: Pushbullet HTTP Channels Subscriptions API
  version: v2
  description: 'Pushbullet''s HTTP API lets developers send and manage pushes, devices,

    chats, channels, subscriptions, text messages, ephemerals, and file

    uploads across the Pushbullet ecosystem. Authentication uses an access

    token from account settings supplied via the `Access-Token` header;

    OAuth 2.0 is available for third-party applications.

    '
  contact:
    name: Pushbullet
    url: https://www.pushbullet.com
servers:
- url: https://api.pushbullet.com/v2
  description: Pushbullet HTTP API
security:
- accessToken: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      tags:
      - Subscriptions
      summary: List subscriptions
      operationId: listSubscriptions
      responses:
        '200':
          description: Array of subscriptions.
    post:
      tags:
      - Subscriptions
      summary: Subscribe to a channel
      operationId: subscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - channel_tag
              properties:
                channel_tag:
                  type: string
      responses:
        '200':
          description: Subscription created.
  /subscriptions/{iden}:
    post:
      tags:
      - Subscriptions
      summary: Update subscription
      operationId: updateSubscription
      parameters:
      - $ref: '#/components/parameters/Iden'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                muted:
                  type: boolean
      responses:
        '200':
          description: Updated subscription.
    delete:
      tags:
      - Subscriptions
      summary: Unsubscribe
      operationId: unsubscribe
      parameters:
      - $ref: '#/components/parameters/Iden'
      responses:
        '200':
          description: Unsubscribed.
components:
  parameters:
    Iden:
      name: iden
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: Pushbullet account access token from https://www.pushbullet.com/#settings/account
    oauth2:
      type: oauth2
      description: OAuth 2.0 for third-party applications.
      flows:
        authorizationCode:
          authorizationUrl: https://www.pushbullet.com/authorize
          tokenUrl: https://api.pushbullet.com/oauth2/token
          scopes:
            everything: Full access
externalDocs:
  description: Pushbullet API documentation
  url: https://docs.pushbullet.com
