openapi: 3.1.0
info:
  title: Pushbullet HTTP Channels Upload API
  version: v2
  description: 'Pushbullet''s HTTP API lets developers send and manage pushes, devices,

    chats, channels, subscriptions, text messages, ephemerals, and file

    uploads across the Pushbullet ecosystem. Authentication uses an access

    token from account settings supplied via the `Access-Token` header;

    OAuth 2.0 is available for third-party applications.

    '
  contact:
    name: Pushbullet
    url: https://www.pushbullet.com
servers:
- url: https://api.pushbullet.com/v2
  description: Pushbullet HTTP API
security:
- accessToken: []
tags:
- name: Upload
paths:
  /upload-request:
    post:
      tags:
      - Upload
      summary: Request a file upload authorization
      operationId: uploadRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - file_name
              - file_type
              properties:
                file_name:
                  type: string
                file_type:
                  type: string
      responses:
        '200':
          description: Upload authorization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  file_name:
                    type: string
                  file_type:
                    type: string
                  file_url:
                    type: string
                  upload_url:
                    type: string
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: Pushbullet account access token from https://www.pushbullet.com/#settings/account
    oauth2:
      type: oauth2
      description: OAuth 2.0 for third-party applications.
      flows:
        authorizationCode:
          authorizationUrl: https://www.pushbullet.com/authorize
          tokenUrl: https://api.pushbullet.com/oauth2/token
          scopes:
            everything: Full access
externalDocs:
  description: Pushbullet API documentation
  url: https://docs.pushbullet.com
